
.header{
    background: pink;
    max-width: 100%;
    width: 10000px;
}


.toolbar {
 
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 20px;
}

.main{
    background: grey;
    height: 100vh;
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.carrinho{
    margin: 0 20;
    width: 80px;
}

.carosel {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    height: 800px;
    width: 100%;
    background-color:rgb(233, 138, 138);
  }