
.header{
    background: pink;
    max-width: 100%;
    width: 10000px;
}


.toolbar {
 
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 20px;
}

.main{
    background: grey;
    height: 100vh;
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.login{
    margin: 0;
}